vti_encoding:SR|utf8-nl
vti_author:SR|DELL\\Andrei
vti_modifiedby:SR|DELL\\Andrei
vti_timelastmodified:TR|16 Jan 2014 01:32:13 -0000
vti_timecreated:TR|16 Jan 2014 01:32:13 -0000
vti_cacheddtm:TX|16 Jan 2014 01:32:13 -0000
vti_filesize:IR|2272
vti_cachedlinkinfo:VX|Q|layout.css
vti_cachedsvcrellinks:VX|FQUS|styles/layout.css
vti_extenderversion:SR|12.0.0.0
vti_backlinkinfo:VX|site_map/default.html about/default.php calendar/default.php edit/edit.php faq/default.html photo_gallery/default.html press/default.html products/default.html promotions/default.html master.dwt sterge/delete.php edit/edit2.php information_links/default.html services/default.html default.html news/default.html contact/default.html employees/default.html employment/default.html adauga/adauga.php
